.wrapper {
  background-color: whitesmoke;
  border: 1px solid gray;
  min-width: 320px;
  min-height: 320px;
}


@media screen and (min-width: 760px) {
  .uu5-bricks-row.uu5-bricks-row-flex {
    flex-wrap: nowrap;
  }
}


